RewriteEngine On

###############################################
# 1. Pages spécifiques (publiques)
###############################################
RewriteRule ^Mentions-Légales$ pages/Mentions.php [L,NC]
RewriteRule ^Politique-de-confidentialité$ pages/Confidentialité.php [L,NC]
RewriteRule ^Nos-Réalisations$ pages/NosProjets.php [L,NC]

# Exclusion des fichiers sensibles
RewriteCond %{REQUEST_URI} ^/SendMailFunction\.php$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/PHPMailer-master/ [NC]
RewriteRule .* - [L]

###############################################
# 2. Redirection /admin ou /admin/ vers login
###############################################
RewriteRule ^admin/?$ pages/login.php [L,NC]

###############################################
# 3. Dashboard accessible via /admin/dashboard
###############################################
RewriteRule ^admin/dashboard/?$ admin/index.php [L,NC]

###############################################
# 4. Protection des autres fichiers dans /admin
###############################################
RewriteCond %{REQUEST_URI} ^/admin/ [NC]
RewriteCond %{REQUEST_URI} !^/admin/auth\.php$ [NC]
RewriteCond %{REQUEST_URI} !^/admin/index\.php$ [NC]
RewriteCond %{REQUEST_URI} !^/admin/dashboard$ [NC]
RewriteRule ^admin/.*$ admin/auth.php [QSA,L]

###############################################
# 4.5. Laisser passer les fichiers API
###############################################
RewriteCond %{REQUEST_URI} ^/api/ [NC]
RewriteRule .* - [L]

###############################################
# 5. Réécriture générique des pages propres (publiques)
###############################################
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9À-ÿ_-]+)$ pages/$1.php [NC,L]


###############################################
# 6. Page 404 personnalisée
###############################################
ErrorDocument 404 /pages/404.php
