.projet {
    height: 400px;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    color: white;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
  }
  .sticky-top {
    position: sticky;
    top: 20px;
  }